@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#h1-titolo {
    display: flex;
    justify-content: center;
    color: #e7e7e7;
/*     margin: 1rem 1rem 0px 1rem; */
    font-family: 'Poppins'sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

#h2-titolo {
    display: flex;
    justify-content: left;
    color: #e7e7e7;
    margin-top: 3rem;
    margin-left: 0.9rem;
    font-family: 'Poppins'sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(bg.jpg);
    background-position: center;
    background-size: cover;
}

/* .container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
} */

.header-welcome {          /*   parte ciao */
    margin: 0.3rem 0.3rem 0rem 0.3rem;
    color: #e7e7e7;
    display: block;
    justify-content: center;
    align-items: center;
}

.welcome_btn {
    display: inline-flex;
   /*  justify-content: center; */

}

.container_main {                /* i tuoi inseriti */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.logo-jlab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 70%;
    align-content: center;
}


.css-selector {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;

    background: linear-gradient(89deg, #20d7a8, #6c5ce7);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

.css-selector_INVERSO {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    
    background: linear-gradient(89deg, #6c5ce7, #20d7a8);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

.css-selector_Logout {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;
    
    background: linear-gradient(356deg, #ff6d6d, #ff0000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

.white-font {
    color: #e7e7e7 ;
    text-decoration: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}


.container-lista {
    display: table;
    width: fit-content;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 40px 30px;
}

.td-space {
    margin-right: 10px;
}

.th-space {
    margin-right: 10px;

}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}