@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.update_colorfont ::-webkit-input-placeholder {
    /* Chrome */
    color: white;
}

.update_colorfont :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.update_colorfont ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

.update_colorfont :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}

#imgFooter {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    width: 50px;
    height: 50px;
}

.update_colorfont input {
    outline: none;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid black;
}

.update_colorfont ::-webkit-input-placeholder {
    /* Chrome */
    color: white;
    transition: opacity 250ms ease-in-out;
}

.update_colorfont :focus::-webkit-input-placeholder {
    opacity: 0.5;
}

.update_colorfont :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    transition: opacity 250ms ease-in-out;
}

.update_colorfont :focus:-ms-input-placeholder {
    opacity: 0.5;
}

.update_colorfont ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.update_colorfont :focus::-moz-placeholder {
    opacity: 0.5;
}

.update_colorfont :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.update_colorfont :focus:-moz-placeholder {
    opacity: 0.5;
}












.container-effic {
    width: 100%;
    height: fit-content;
}

.container-premio {
    /*     min-height: max-content;
    background: #21d5fd54;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%); */
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-self: center;
}

#p-month {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
}

#gradient-table {
    /*     background: rgb(33,212,253);
    background: linear-gradient(180deg, rgba(33,212,253,1) 0%, rgba(60,219,255,1) 50%, rgba(33,212,253,1) 100%); */
    background: rgb(0, 132, 161);
    background: linear-gradient(180deg, rgba(33, 212, 253, 1) 0%, rgb(0, 132, 161) 50%, rgb(0, 132, 161) 100%);
}

.content-table {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    border-collapse: collapse;
    margin: 1rem;
    /* font-size: 0.9em; */
    font-size: 12px;
    min-width: 400px;
    border-radius: 30px 30px 20px 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* .content-table img {
    opacity: 50%;
} */

.content-table thead tr {
    /* background-color: #21d4fd; */
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

#background-resultPage {
    background-color: #21d4fd;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 6px 7.5px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #21d4fd;
}

.content-table tbody tr.active-row {
    /* font-weight: bold; */
    font-size: 11px;
    color: rgb(255, 255, 255);
    /* table text color */
}

.container_statoUP {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin: 1rem; */
}

.container-SpaceBetween {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    /* padding: 0rem 3rem 0rem 3rem; */
}

.container_statoUP .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1px;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
    text-transform: capitalize;
}

.winnerList-container_P {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1rem;
    color: #111;
    font-weight: 500;
    font-size: auto;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
    text-transform: capitalize;
    display: block;
    width: 70%;
    padding: 1rem 1rem;
    text-align: center;
    border: none;
    margin-top: 1rem;
    background: #9bd6fe;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    transition: .3s;
}

/* .welcome_btn a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;
} */

/* .container_statoUP .css-selector {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;

    background: linear-gradient(89deg, #20d7a8, #6c5ce7);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
} */

.bg {
    background: url("bg.jpg") no-repeat center/cover;
    position: absolute;
    top: -60px;
    left: -60px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}

.container_statoUP .login-email .input-group {
    /*     width: 105%;
    height: 15px;
    margin-bottom: 1rem; */

    width: 119px;
    height: 20px; /* 24px */
    margin-bottom: 0.3rem;
}

.container_statoUP .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    border: none;
    /* margin-top: 1rem; */
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    /* font-size: 10px; */
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container_statoUP .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 2px 2px;
    font-size: 13px;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}


.container_statoUP .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container_statoUP .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #3ce767;
    /* 6c5ce7 */
}

.container_statoUP .w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: center;
    vertical-align: center;
}

/* --------------------------------------------------------------------- */

.container {
    min-height: max-content;
    background: #f7f7f7ee;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    display: flex;
    align-content: stretch;
    align-self: center;
    margin: 1rem;
    align-items: center;
    justify-content: space-around;
}

.container p {
    /* padding-right: 1rem; */
    font-size: 2rem;
    font-weight: 800;
}

.container-header {
    min-height: max-content;
    background: #f7f7f7ee;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 1rem;
    /*     padding: 1rem 0rem 0rem 0rem; */
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.titolo h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 0%;
    width: 12%;
    height: fit-content;
    align-content: center;
    margin-top: 0.5rem;
}

.header-welcome {
    margin: 0rem 1rem 0rem 1rem;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.welcome_btn a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;
}

.css-selector {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    text-decoration: none;

    background: linear-gradient(89deg, #20d7a8, #6c5ce7);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

.css-selector-icon {
    display: flex;
    /* width: 100%; */
    padding: 15px 15px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 50%;
    /* font-size: 1.2rem; */
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 0.5rem;
    text-decoration: none;
    background: linear-gradient(89deg, #20d7a8, #6c5ce7);
    background-size: 400% 400%;


    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.css-selector-icon_account {
    display: flex;
    margin: 4px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.css-selector_INVERSO {
    display: flex;
    /* width: 100%; */
    padding: 15px 15px;
    text-align: center;
    border: none;
    background: #6c5ce7;
    outline: none;
    border-radius: 50%;
    /* font-size: 1.2rem; */
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 0.5rem;
    text-decoration: none;

    background: linear-gradient(89deg, #6c5ce7, #20d7a8);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.css-selector_Logout {
    display: flex;
    /* width: 100%; */
    padding: 15px 15px;
    border-radius: 50%;
    /* font-size: 1.2rem; */
    margin-top: 1.3rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* questi sotto sono quelli che c'erano prima*/
    /*     display: block; */
    /*     width: 100%; */
    /*     padding: 15px 20px; */
    /*     text-align: center; */
    border: none;
    background: #6c5ce7;
    outline: none;
    /*     border-radius: 30px; */
    /*     font-size: 1.2rem; */
    color: #FFF;
    cursor: pointer;
    transition: .12s;
    /*     margin-top: 1rem; */
    margin-bottom: 1rem;
    text-decoration: none;

    background: linear-gradient(89deg, #952828, #ff0000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

.white-font {
    color: #e7e7e7;
    text-decoration: none !important;
}


@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 58%
    }

    50% {
        background-position: 100% 43%
    }

    100% {
        background-position: 0% 58%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 58%
    }

    50% {
        background-position: 100% 43%
    }

    100% {
        background-position: 0% 58%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 58%
    }

    50% {
        background-position: 100% 43%
    }

    100% {
        background-position: 0% 58%
    }
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-email {
    margin: 0rem 1rem 0rem 1rem;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    margin-top: 3rem;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 2rem;
}

.input-group-id{
    display: none;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
    text-align: center;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container-lista {
    display: table;
    width: fit-content;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 40px 30px;
}

.td-space {
    margin-right: 10px;
}

.th-space {
    margin-right: 10px;

}

@media (max-width: 488px) {
    .step-wizard-item+.step-wizard-item:after {
        content: "" !important;
        position: absolute !important;
        /* left: 78px !important;
        top: 19px !important; */
        background: #21d4fd !important;
        width: auto !important;
        height: 2px !important;
        transform: translateX(-50%) !important;
        z-index: -10 !important;
    }

    .step-wizard-list {
        margin: 1rem 0.5rem !important;
    }
}

@media (max-width: 700px) {
    .container-header {
        padding: 1rem 0rem 0rem 0rem;
    }

    .container {
        width: auto;
        display: grid;
        justify-content: center;
    }

    .container .login-social {
        display: block;
    }

    .container .login-social a {
        display: block;
    }

    .logo {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin-top: 0%;
        width: 35vw;
        height: fit-content;
        align-content: center;
    }

    .step-wizard-item+.step-wizard-item:after {
        content: "";
        position: absolute;
        left: 77px;
        top: 19px;
        background: #21d4fd;
        width: 54%;
        height: 2px;
        transform: translateX(-50%);
        z-index: -10;
    }
}

#formInserimento {
    display: inline-table !important;
}


/* 
------------------------------- */
* {
    /*     display: inline-table; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(230, 230, 230, 0.5), rgba(200, 200, 200, 0.1));
    background-position: center;
    background-size: cover;
    /*     display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Poppins", sans-serif;
}

.step-wizard {
    /*     background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
    height: auto;
    width: 100%;
    /*     display: flex;
    justify-content: center;
    align-items: center; */
}

.step-wizard-list {
    background: #fff;
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
    color: #333;
    list-style-type: none;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 20px 10px;
    position: relative;
    margin: 1rem 3.5rem;
    z-index: 10;
    flex-wrap: wrap;
}

.step-wizard-item {
    padding: 0 20px;
    /* flex-basis: 0; */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-wizard-item+.step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: none;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.current-item .progress-count:before,
.current-item~.step-wizard-item .progress-count:before {
    display: none;
}

.current-item~.step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
}

.current-item~.step-wizard-item .progress-label {
    opacity: 0.5;
}

.current-item .progress-count:after {
    background: #fff;
    border: 2px solid #21d4fd;
}

.current-item .progress-count {
    color: #21d4fd;
}

.footer {
    min-height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
    margin: 1rem;
    align-content: center;
}

.footer p a {
    color: rgba(0, 0, 0, 0.500);
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 13px;
}

.footer img {
    width: 4rem;
    height: fit-content;
}

.winnerList_container_P img {
    width: fit-content;
    width: 15rem;
    height: auto;
    margin-bottom: 4px
}

/* .container {
    min-height: max-content;
    background: #f7f7f7ee;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 1rem;
} */




/* àààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààààà */


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .container {
        min-height: max-content;
        background: #f7f7f7ee;
        border-radius: 20px;
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        padding: 40px 30px;
        display: flex;
        align-items: center;
        align-self: center;
        /* margin: 1rem; */
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    #second__container-winner {
        min-height: max-content;
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .logo {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin-top: 0%;
        width: 35vw;
        height: auto;
        align-content: center;
    }

    .winnerList_container_P img {
        width: fit-content;
        width: 15rem;
        height: auto;
        margin-bottom: 4px
    }

    .footer img {
        width: 4rem;
        height: auto;
    }

    .content-table {
        display: block;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        border-collapse: collapse;
        margin: 1rem;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 30px 30px 20px 20px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .container_statoUP-header {
        /*         display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 1rem; */

        display: flex;
        margin: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        /* width: 45%;  */
        /* padding-right: 10px;  */
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Ragione Sociale";
    }

    td:nth-of-type(3):before {
        content: "Iban";
    }

    td:nth-of-type(4):before {
        content: "Email";
    }

    td:nth-of-type(5):before {
        content: "Cell";
    }

    td:nth-of-type(6):before {
        content: "Contratto";
    }

    td:nth-of-type(7):before {
        content: "Efficentamento";
    }

    td:nth-of-type(8):before {
        content: "Stipula";
    }

    td:nth-of-type(9):before {
        content: "Inserito";
    }

    td:nth-of-type(10):before {
        content: "Tipo";
    }

    td:nth-of-type(11):before {
        content: "Cons. Annuo";
    }

    td:nth-of-type(12):before {
        content: "Gettone";
    }

    td:nth-of-type(13):before {
        content: "Stato";
    }

    #td-colorSmart {
        padding: 15px 15px;
        text-align: center;
        border: none;
        transition: .3s;
        background: linear-gradient(89deg, #007495, #21d4fd);
        /* 00a3c7 */
        background-size: 400% 400%;
        -moz-animation: AnimationName 3s ease infinite;
        animation: AnimationName 3s ease infinite;
        justify-content: center;

    }
}

.input-group-ID{
    display: none;
}